[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bernie/Desktop/Discord.desktop]
row=5
col=0

[/home/bernie/Desktop/Books.desktop]
row=2
col=0

[/home/bernie/Desktop/Signal.desktop]
row=6
col=0

[/home/bernie/Desktop/Editor.desktop]
row=0
col=0

[/home/bernie/Desktop/Chrome.desktop]
row=3
col=0

[/home/bernie/Desktop/Radio.desktop]
row=4
col=0

[/home/bernie/Desktop/Markdown.desktop]
row=1
col=0

